@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bebas+Neue&family=Kanit:wght@400;500;600;700;800;900&family=Roboto:wght@500&display=swap');
</style>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-image: url(./img/background_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .container {
    background-color: rgb(0, 0, 0, 0.479);
    width: 93%;
    height: 97vh;
    margin: 10px auto;
    
  }
  main {
    color: white;
    height: 100%;
    width: 100%;
  }
  h1{
    margin-top: 0.5%;
    
  }
  main h1,
  p {
    text-align: center;
    font-family: 'Kanit', sans-serif;
  }

  main p{
    margin-top: -2%;
  }

span{
    color: red;
}

  form{
    
    display: inline-block;
    width: 25%;
    height: 82%;
    background-color: rgba(0, 0, 0, 0.616);
    margin-left: 36%;
    padding: 1% 2% 2.8%;
    font-size: 14px;
    margin-top: -0.3%;
  }

  #name{
    padding: 3%;
    width: 90%; 
    margin: 2% 0;}
  
  #age{
    padding: 3%;
    width: 90%; 
    margin: 2% 0;
  } 
 
  #email1{
    padding: 3%;
    width: 90%; 
    margin: 2% 0;
  } 

  #content-type{
    padding: 2%;
    width: 90%; 
    margin: 2% 0 2.5%;
  }
  

  #feedback{
    padding: 3%;
    width: 80%; 
    margin: 2% 0;
  }  

  #movie ,#gender{
    cursor: pointer;
  }
  
  button{
    padding: 2% 11%;
    margin-left: 30%;
    border-radius: 20px;
    margin-top: 0%;
    color: white;
    background-color: red;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  button:hover{
    box-shadow: 2px 1px 16px 8px rgba(146, 28, 28, 0.877);
  }